{% extends 'view/base.html' %}

{% block view %}
<div class="form-div" style="padding-top: 8%; padding-bottom: 8%;">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-9">
                    <h2 class="h2">Experience Fields</h2>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('add.experience') }}">
                        <button type="button" class="btn btn-outline-secondary">Add Experience Field</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <form action="{{ url_for('view.experience') }}" method="POST">
                    {% for exp in exps %}
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-3 col-form-label">Workplace:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly value="{{ exp.workplace }}">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <a href="{{ url_for('remove.experience', index=loop.index0) }}">
                                <button type="button" class="btn btn-outline-danger">
                                    <span>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-3 col-form-label">Experience Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly value="{{ exp.title }}">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-3 col-form-label">Start Date:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" readonly value="{{ exp.start }}">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-sm-3 col-form-label">End Date:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" readonly value="{{ exp.end }}">
                        </div>
                    </div>
                    {% if exp.description != None %}
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="description" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-6">
                            <ul class="list-group list-group-flush">
                                {% for des in exp.description %}
                                <li class="list-group-item">{{ des }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                    <br>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}