{% extends 'add/base.html' %}

{% block add %}
<div class="form-div" style="padding-top: 8%; padding-bottom: 8%;">
    <div class="card">
        <div class="card-header">
            <h2 class="h2">Add Publication Field</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <form action="{{ url_for('add.publication') }}" method="POST">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="title" class="col-sm-3 col-form-label">Research Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="title" id="title" placeholder="Research Title"
                                required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="journal" class="col-sm-3 col-form-label">Journal Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="journal" id="journal"
                                placeholder="Journal Name">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="link" class="col-sm-3 col-form-label">Publication Link:</label>
                        <div class="col-sm-6">
                            <input type="url" class="form-control" name="link" id="link" placeholder="Publication Link">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="date" class="col-sm-3 col-form-label">Date:</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="date" id="date" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-outline-secondary" value="Add">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}